# Encrypt this file with: sops --encrypt --age <PUBLIC_KEY> secrets.yaml > secrets.enc.yaml
jwt_secret: "CHANGE_ME_generate_with_openssl_rand_hex_32"
dek: "CHANGE_ME_generate_with_openssl_rand_hex_32"
hmac_key: "CHANGE_ME_generate_with_openssl_rand_hex_32"
twilio_account_sid: ""
twilio_auth_token: ""
jotform_api_key: ""
